# PostgreSQL Configuration
POSTGRES_DB=exam_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Application Configuration
FLASK_ENV=production
PYTHONUNBUFFERED=1
DB_HOST=db
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=exam_db
DB_PORT=5432
PORT=10000
