Flask>=2.3.2
numpy>=1.26.0
pandas>=2.1.0
networkx>=3.1
openpyxl>=3.1.2
reportlab>=4.0.7
ortools>=9.10.4067
PyPDF2>=3.0.1
gunicorn>=21.2.0
PyMuPDF>=1.22.0
pytesseract>=0.3.10
Pillow>=9.0.0
psycopg2-binary>=2.9.0
